@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("multimedia/images/fondo2.jpg");
    background-size: cover;
}

.title1 {
    font-style: italic;
    font-size: 40px;
    padding-bottom: 10px;
}

header {
    color: antiquewhite;
    background-color: rgb(70, 158, 70);
    padding: 10px 2px;
    padding-bottom: 1px;
    position: fixed;
    width: 100%;
}

.menu {
    color: azure;
    border: 1px solid white;
    padding: 3px 2px;
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
}

.inicio:hover {
    transform: scale(1.2);
    transition: all 1.8s;
}

.cabañas:hover {
    transform: scale(1.2);
    transition: all 1.8s;
}

.villa-serrana:hover {
    transform: scale(1.2);
    transition: all 1.8s;
}

.nosotros:hover {
    transform: scale(1.2);
    transition: all 1.8s;
}

.contacto:hover {
    transform: scale(1.2);
    transition: all 1.8s;
}


.imgs-index1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;
    padding-top: 40px;
}

.imgs-index2 {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(1, 200px);
    gap: 10px;
    margin: 10px;
}

.lavilla-pharagraph-intro {
    padding-top: 100px;
}

.imgindex1 {
    width: 100%;
    height: 100%;
}

.imgindex2 {
    width: 100%;
    height: 100%;
}


.comentario-index1 {
    margin: 20px;
}

.comentario-index2 {
    margin: 20px;
}

.comentario-index3 {
    margin: 20px;
}

.imgcom1-index {
    width: 50%;
}

.logo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
}

.logoinst {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.logo-redes {
    width: 100%;
}

.pharagraph-contact {
    font-size: 30px;
}

.subtitleh1-villa {
    margin: 10px;
    font-size: 30px;
    font-style: italic;
}

.subtitleh1-villa:hover {
    transform: scale(1.4) translateX(100px);
    transition: all 1.5s;
}

.pharagraph-villaserrana-intro {
    padding: 20px;
}

.imgslavilla-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    margin: 10px;
}

.imgs-lavilla {
    width: 100%;
    height: 100%;
}

.interestpoints:hover {
    padding-left: 20px;
    transform: scale(1.3) translateX(80px);
    transition: all 1.5s;
}

h2 {
    padding-left: 10px;
    margin: 5px;
    font-size: 30px;
    font-style: italic;
}

.interestimgs1-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    gap: 5px;
}

.ventorrillo-text1 {
    padding: 10px;
}

.ventorrillo-img {
    width: 100%;
    height: 100%;
}

.interestimgs2-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    gap: 5px;
}

.represa-img {
    width: 100%;
    height: 100%;
}